<header class="cabecalho">
  <a href="#" class="cabecalho__logo">Logo</a>

  <nav class="menu" data-menu>
    <button class="menu__botao" aria-label="Abrir Menu" aria-expanded="false">
      Menu
      <span class="menu__hamburguer"></span>
    </button>

    <ul class="menu__lista">
      <li><a href="#" data-link="home">Home</a></li>
      <li><a href="#" data-link="sobre">Sobre</a></li>
      <li><a href="#" data-link="produtos">Produtos</a></li>
      <li><a href="#" data-link="portfolio">Portfólio</a></li>
      <li><a href="#" data-link="contato">Contato</a></li>
    </ul>
  </nav>
</header>